.box {
  font-family: system-ui, -apple-system;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
  max-width: 1200px;
  padding: 20px 40px;
}
.box h1::after {
  margin-top: 0.8rem;
  content: "";
  background: linear-gradient(to right, var(--cor-1), #a8a8a848);
  border-radius: 4px;
  width: 100%;
  height: 1px;
  display: block;
}
.containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
  gap: 1rem;
}
.container {
  padding: 2rem;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.2s;
}
.container:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.12);
}
.container h2 {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.container img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.tituloHome {
  font-size: 40px;
  text-align: center;
}

@media (width < 900px) {
  .containers {
    grid-template-columns: 1fr;
  }
  .container a {
    max-width: 100%;
  }
  .container a button {
    width: 100%;
  }
}

@media (width <= 400px) {
  .box {
    padding: 20px;
  }
  .container {
    padding: 1rem;
  }
}
