:global(.containers).containerUsers {
  align-items: start;
}
:global(.container).containerUserIndividual {
  justify-content: start;
  transition: 0.3s ease;
}
:global(.containers).containerVazio {
  grid-template-columns: 1fr;
  justify-content: center;
}
.nenhumCliente {
  width: 100%;
  color: #a0a0a0;
  font-size: 0.875rem;
  text-align: center;
}
.username {
  color: rgb(0, 0, 26);
}
.cpf {
  color: rgb(0, 0, 26);
}
.tituloNome {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
  flex-wrap: wrap;
}
.gaveta > button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
  border: 1px solid var(--cor-5);
  padding: 10px 18px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
}
.gaveta > button:hover {
  color: rgb(255, 245, 245);
  background-color: rgb(0, 0, 0);
}
.gaveta > button svg path {
  stroke: #fff;
}
.gaveta > button:hover svg path {
  stroke: var(--cor-1);
}
.gavetaInfo {
  display: flex;
  flex-direction: column;
  animation: surgeDeCima 0.3s ease;
}
.nenhumProduto {
  width: 100%;
  color: #a0a0a0;
  font-size: 0.875rem;
  text-align: center;
}
@keyframes surgeDeCima {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
