.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 1000;
}
:global(.box).box {
  border-radius: 4px;
  background-color: #eee;
  height: 50vh;
  display: flex;
  align-self: center;
  padding: 40px 80px;
}
.descontoExistente {
  display: flex;
  justify-content: space-between;
  color: #555;
}

.formModal {
  display: flex;
  flex-direction: column;
}
.formModal input {
  margin-top: 4px;
  padding: 6px 14px;
  border-radius: 4px;
  border: 1px solid #333;
}

.decisoes {
  display: flex;
  flex-direction: column;
}
.decisoes button {
  flex: 1;
}
.decisoes button:disabled {
  background-color: #797979;
  border-color: #797979;
  color: #fff;
}
.decisoes button:disabled:hover {
  background-color: #797979;
  border-color: #797979;
  color: #fff;
}
