.box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
  max-width: 1200px;
  padding: 20px 40px;
}
.box h1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box h1 a {
  cursor: pointer;
  width: 32px;
  height: 32px;
  right: 0;
  background-color: transparent;
  position: absolute;
}
.box h1 a svg {
  width: 100%;
  height: 100%;
}
.box h1::after {
  margin-top: 0.8rem;
  content: "";
  background: linear-gradient(to right, var(--cor-1), #a8a8a848);
  border-radius: 4px;
  width: 100%;
  height: 1px;
  display: block;
}
