:root {
  --cor-1: #1a3460;
  --cor-2: #142751;
  --cor-3: #0d1a42;
  --cor-4: #070d32;
  --cor-5: #000023;
}
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
button {
  padding: 0;
  border: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  max-width: fit-content;
}
a,
label,
input {
  display: block;
  text-decoration: none;
}
input {
  transition: 0.3s;
}
input:focus {
  border-color: #333;
  border-radius: 5px;
  box-shadow: 0 0 2px #000000;
}
.error {
  text-wrap: wrap;
  width: 100%;
  color: #f31;
  font-size: 0.825rem;
  margin: 0.45rem 0.125rem 0 0.125rem;
}
.botao {
  margin-top: 10px;
  color: #fff;
  background-color: rgb(0, 0, 26);
  padding: 10px 18px;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  border: 1px solid #eee;
  transition: 0.2s linear;
}
.botao:hover {
  color: #333;
  border-color: #333;
  background-color: #ffffff;
}
.botao:disabled {
  background-color: #999;
}
.botao:disabled:hover {
  background-color: #aaa;
  border: 1px solid #eee;
  color: #fff;
}
.botaoInverso {
  margin-top: 10px;
  color: var(--cor-5);
  background-color: #f4f4f4;
  padding: 5px 18px;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  border: 1px solid var(--cor-5);
  transition: 0.2s linear;
}
.botaoInverso:hover {
  background-color: var(--cor-5);
  color: #eee;
}
.box {
  font-family: system-ui, -apple-system;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: start;
  gap: 1rem;
  max-width: 1200px;
  min-height: 70vh;
  padding: 20px 40px 40px 20px;
}
.box h1::after {
  margin-top: 0.8rem;
  content: "";
  background: black;
  border-radius: 4px;
  width: 100%;
  height: 1px;
  display: block;
}
.containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
  gap: 1rem;
}
.container {
  padding: 2rem;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease;
}
.container:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.12);
}
.container h2 {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}
.container img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.mH80vh {
  justify-content: start;
  min-height: 80vh;
}
.loading {
  margin: 0 auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #bbb;
  border-right: transparent;
  animation: loading 1s infinite backwards;
}
.gg {
  width: 80px;
  height: 80px;
}
@keyframes loading {
  to {
    rotate: 360deg;
  }
}
@media (width < 900px) {
  .containers {
    grid-template-columns: 1fr;
  }
  .container a {
    max-width: 100%;
  }
  .container a button {
    width: 100%;
  }
}
@media (width <= 400px) {
  .box {
    padding: 20px;
  }
  .container {
    padding: 1rem;
  }
}
